# Python 特有
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/

# 虚拟环境
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# PDM 特有
.pdm-python
.pdm.toml
pdm.lock.orig

# 构建产物
/dist/
/build/
*.egg-info/
*.egg

# 测试报告
htmlcov/
.coverage

# 数据库文件
*.db
*.db-journal
*.sqlite3
*.sqlite3-journal
/db/*.db
/db/*.db-journal 